<!DOCTYPE html>
<html>
<head>
  <meta charset-"utf8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="./uuu.css"> 
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="form">
<%if (error) { %>
  <h4> <%= error %> </h4>
 <% } %>
 <%if (success) { %>
 <input type="button" value="<%= success %>" onclick="self.location.href='/'"/>
 <% } %>

  <form method="post">
  Username：<input type="text" name="username" value= <%= user.username %>  readonly/><br />
  Password：<input type="password" name="password" placeholder="Password" class="form-control"/> <br/>
  RentValue：<input type="text" name="rental" value= <%= user.rental %> ><br />
  Footage：<input type="text" name="size" value= <%= user.size %> ><br />
  <input type="submit" value="Update" />
</form>

</div>

</body>
</html>