<!DOCTYPE html>
<html>
<head>
  <meta charset-"utf8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>

<form method="post">
  用户名：<input type="text" name="username" value= <%= user.username %>  /><br />
  密碼確認：<input type="password" name="password" placeholder="Password" class="form-control"/> <br/>
  電話：<input type="text" name="phonenum" value= <%= user.phonenum %> /><br />
  住址：<input type="text" name="address" value= <%= user.address %> /><br />
  租金：<input type="text" name="rental" value= <%= user.rental %> /><br />
  坪數：<input type="text" name="size" value= <%= user.size %> /><br />
  <input type="submit" value="更新" />
</form>


</body>
</html>